In [1]:
import pandas as pd


### ToDo:

- [x] Remove Following Columns
    - UID
    - iso2
    - iso3
    - code3
    - FIPS
    - Country Region
    - Combined Keys
- [x] Rename Admin2 -> County
- [ ] Maybe find population counts for each county to ge tper capita
- [ ] Drop any County that says "Out Of" or "Unassigned" (Lat and long are 0)
- [ ]

In [2]:
us_cases_df = pd.read_csv('https://web.netsecure.dev/files/covid/US_cases.csv')
us_deaths_df = pd.read_csv('https://web.netsecure.dev/files/covid/US_deaths.csv')

In [3]:
us_cases_df.drop(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Country_Region', 'Combined_Key'], inplace=True, axis=1)
us_cases_df.rename(columns={'Admin2':'County', 'Province_State':'State', 'Long_':'Long'}, inplace=True)

In [6]:
us_cases_df['Index'] = us_cases_df['State'] + '-' + us_cases_df['County']
us_cases_df.set_index('Index', inplace=True)
us_cases_df.index.name = None

In [4]:
dates = list(us_cases_df.columns.drop(['County', 'State', 'Lat', 'Long']))
us_cases_df['Total'] = us_cases_df[dates].sum(axis=1)

In [28]:
us_cases_df.sort_values(by='Total', ascending=False, inplace=True)

In [29]:
us_cases_df.head(10)

,County,State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/8/20,8/9/20,8/10/20,8/11/20,8/12/20,8/13/20,8/14/20,8/15/20,8/16/20,Total
New York-New York,New York,New York,40.767273,-73.971526,0,0,0,0,0,0,...,227584,227832,228069,228343,228729,229167,229534,229916,230223,26355678
California-Los Angeles,Los Angeles,California,34.308284,-118.228241,0,0,0,0,1,1,...,206778,208563,210543,210874,214283,214425,218831,220867,221971,11680577
Illinois-Cook,Cook,Illinois,41.841448,-87.816588,0,0,1,1,1,1,...,110865,111447,111948,112484,113044,113788,114724,115344,115960,9808928
Florida-Miami-Dade,Miami-Dade,Florida,25.611236,-80.551706,0,0,0,0,0,0,...,131217,132461,133623,135130,139271,140984,142662,144407,145307,5928448
Arizona-Maricopa,Maricopa,Arizona,33.348359,-112.491815,0,0,0,0,1,1,...,125545,126053,126371,126791,127188,127768,128352,128865,129385,5716663
New York-Nassau,Nassau,New York,40.740665,-73.589419,0,0,0,0,0,0,...,43628,43655,43690,43724,43761,43795,43840,43891,43929,5262163
New York-Suffolk,Suffolk,New York,40.883201,-72.801217,0,0,0,0,0,0,...,43749,43786,43844,43893,43948,43987,44045,44109,44159,5121146
New York-Westchester,Westchester,New York,41.162784,-73.757417,0,0,0,0,0,0,...,36180,36205,36233,36272,36324,36357,36402,36435,36453,4387815
Texas-Harris,Harris,Texas,29.858649,-95.393395,0,0,0,0,0,0,...,84600,85757,86563,87505,88494,89425,90574,91698,92253,3951641
Pennsylvania-Philadelphia,Philadelphia,Pennsylvania,40.003385,-75.137927,0,0,0,0,0,0,...,31120,31120,31448,31584,31725,31910,32057,32186,32186,2947405

,County,State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20,8/12/20,8/13/20,8/14/20,8/15/20,8/16/20
Alabama-Autauga,Autauga,Alabama,32.539527,-86.644082,0,0,0,0,0,0,...,1065,1086,1169,1174,1162,1188,1196,1196,1206,1218
Alabama-Baldwin,Baldwin,Alabama,30.727750,-87.722071,0,0,0,0,0,0,...,3443,3502,3544,3651,3670,3710,3744,3791,3839,3877
Alabama-Barbour,Barbour,Alabama,31.868263,-85.387129,0,0,0,0,0,0,...,569,573,575,576,579,581,586,590,598,604
Alabama-Bibb,Bibb,Alabama,32.996421,-87.125115,0,0,0,0,0,0,...,416,426,438,442,444,453,457,465,469,469
Alabama-Blount,Blount,Alabama,33.982109,-86.567906,0,0,0,0,0,0,...,774,788,800,812,816,825,835,848,854,860

,County,State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/8/20,8/9/20,8/10/20,8/11/20,8/12/20,8/13/20,8/14/20,8/15/20,8/16/20,Total
Alabama-Autauga,Autauga,Alabama,32.539527,-86.644082,0,0,0,0,0,0,...,1086,1169,1174,1162,1188,1196,1196,1206,1218,56874
Alabama-Baldwin,Baldwin,Alabama,30.727750,-87.722071,0,0,0,0,0,0,...,3502,3544,3651,3670,3710,3744,3791,3839,3877,132168
Alabama-Barbour,Barbour,Alabama,31.868263,-85.387129,0,0,0,0,0,0,...,573,575,576,579,581,586,590,598,604,33204
Alabama-Bibb,Bibb,Alabama,32.996421,-87.125115,0,0,0,0,0,0,...,426,438,442,444,453,457,465,469,469,20200
Alabama-Blount,Blount,Alabama,33.982109,-86.567906,0,0,0,0,0,0,...,788,800,812,816,825,835,848,854,860,30868